body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #4d4d4d;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 40px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #ceeaf5;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
    line-height: 1.25;
}

.menu {
    background-color: #b2e2eee0;
    border: 2px solid #2f3742;
    padding: 20px;
    margin-top: 25px;
    border-radius: 8px;
    font-weight: bold;
}

.menu-box {
    color: #ceeaf5;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: #423e3e;
    padding: 20px 25px;
    border: 1px solid #ffffff;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.volume-bar {
    background: #ddd;
    width: 100%;
    max-width: 300px;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 0;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.volume-fill {
    height: 100%;
    background: linear-gradient(to right, #6baf4c, #81C784);
    transition: width 0.3s ease;
}